services:
  # Frontend (Static Site)
  - type: web
    name: voxa-client
    runtime: static
    region: singapore

    buildCommand: |
      cd client
      npm install
      npm run build

    staticPublishPath: client/dist

    envVars:
      - key: VITE_SERVER_URL
        fromService:
          name: voxa-server
          type: web
          property: url


  # Backend (Node.js)
  - type: web
    name: voxa-server
    runtime: node
    region: singapore
    plan: free

    buildCommand: |
      cd server
      npm install

    startCommand: |
      cd server
      npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: CLIENT_URL
        fromService:
          name: voxa-client
          type: web
          property: url
