services:
  # Backend Service (Node.js)
  - type: web
    name: voxa-server
    env: node
    region: singapore
    plan: free

    buildCommand: |
      cd server
      npm install

    startCommand: |
      cd server
      npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: CLIENT_URL
        fromService:
          type: static_site
          name: voxa-client
          property: url


  # Frontend Service (React/Vite)
  - type: static_site
    name: voxa-client
    region: singapore

    buildCommand: |
      cd client
      npm install
      npm run build

    staticPublishPath: client/dist

    envVars:
      - key: VITE_SERVER_URL
        fromService:
          type: web
          name: voxa-server
          property: url
