services:
  # Frontend (Vite static site)
  - type: web
    name: voxa-client
    runtime: static

    buildCommand: |
      cd client
      npm install
      npm run build

    staticPublishPath: client/dist

    envVars:
      - key: VITE_SERVER_URL
        fromService:
          name: voxa-server
          type: web
          envVarKey: RENDER_EXTERNAL_URL

    routes:
      - type: rewrite
        source: /*
        destination: /index.html


  # Backend (Node)
  - type: web
    name: voxa-server
    runtime: node
    region: singapore
    plan: free

    buildCommand: |
      cd server
      npm install

    startCommand: |
      cd server
      npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: CLIENT_URL
        fromService:
          name: voxa-client
          type: web
          envVarKey: RENDER_EXTERNAL_URL

      - key: SERVER_URL
        fromService:
          name: voxa-server
          type: web
          envVarKey: RENDER_EXTERNAL_URL
